.dashboard {
  margin: 100px 60px;
  & .inputs {
    margin-bottom: 20px;
  }
}

input {
  -webkit-appearance: none;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 16px;
  max-width: 250px;
  height: 20px;
  font-weight: 500;
  margin-bottom: 10px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  display: inline-block;
  color: #ccc;

  &::placeholder {
    color: #ccc;
  }

  &[type="number"]::-webkit-inner-spin-button,
  &[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

button {
  padding: 10px;
  outline-color: none;
  font-size: 1em;
  display: block;
  border-radius: 5px;
  font-weight: 700;
  cursor: pointer;

  &.add {
    width: 100%;
  }

  &.navigate {
    width: 45%;
  }

  &:focus {
    outline: none;
  }
}

.prev-next {
  margin-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.input-wrapper {
  display: flex;
}

.postfix {
  background-color: white;
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
  display: flex;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;

  & div {
    line-height: 40px;
    width: 100%;
    text-align: center;
    font-weight: 700;
    vertical-align: middle;
    color: #ccc;
  }
}
