<div class="dashboard">
  <div class="inputs">
    <div class="input-wrapper">
      <input #sizeInput type="number" placeholder="Size (50-250)" />
      <div class="postfix"></div>
    </div>
    <div class="input-wrapper">
      <input #radiusInput type="number" placeholder="Border Radius" />
      <div class="postfix" [ngStyle]="{ borderLeft: '1px solid #ccc' }">
        <div>px</div>
      </div>
    </div>
  </div>

  <button class="add" (click)="onAddClick()">ADD SQUARE</button>

  <div class="prev-next">
    <button class="navigate" (click)="onPrevClick()">PREV</button>
    <button class="navigate" (click)="onNextClick()">NEXT</button>
  </div>
</div>
